#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body {
  background-color: #1e1e1e; /* màu nền tối đẹp */
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 20px;
}

.card {
  background-color: #222121;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  overflow: hidden; /* ✅ Ngăn nội dung tràn ra ngoài */
}

.card-title {
  color: #0078ff;
  font-weight: 700;
  margin-bottom: 10px;
}

.card-line {
  border: 0;
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  box-sizing: border-box;
}
